.cardWrapper {
  display: flex;
  flex-flow: row wrap;
  margin-top: 25px;
}

.card {
  display: inline;
  background-color: white;
  color: teal;
  border: 6px teal solid;
  border-radius: 15px;
  width:300px;
  height:200px;
  margin:10px;
}